@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 400;
        color: #171313;
        scroll-behavior: smooth;
        @apply text-[3.5vw] sm:text-[1.8vw] md:text-[1.111vw]
    }

    *{
        @apply scroll-smooth;
        /* font-kerning: none; */
        
    }

    body {
        scroll-behavior: smooth;
        @apply scroll-smooth
    }
}

input {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.center {
    @apply grid place-content-center
}

.flex-center {
    @apply flex items-center justify-center
}

.flex-between {
    @apply flex items-center justify-between
}

.word-spacing {
    word-spacing: 0.695vw;
}


.layout-grid {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.grid-layout5 {
    display: grid;
    @apply grid-cols-2
}

.grid-layout6 {
    display: grid;
    grid-template-columns: 4fr 1fr;
}


.grid-template4 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.active-link {
    @apply text-coffee-bean-brown
}

.nav-ul {
    @apply uppercase  flex flex-col  text-coffee-bean-lightbrown  items-center justify-around [&_li]:rotate-90 font-extrabold text-[1.389vw] 
}

.nav-ul li {
    @apply cursor-pointer
}

.border-line {
    outline: 2px solid blue;
}

.header-text {
   @apply font-six-caps text-7xl  md:text-[8vw] tracking-wider leading-tight md:leading-tight lg:leading-[7.7vw]
}

.mid-text {
    @apply text-xl md:text-[1.25vw] py-4 word-spacing tracking-widest text-coffee-bean-deep leading-relaxed
}


.button-style {
    @apply mb-[0.556vw] flex items-center gap-2 md:gap-[0.694vw] fill-current
}

.button-outline1{
    @apply bg-coffee-bean-brown text-white px-4 py-3 md:p-[1.111vw] transition duration-200
}

.button-outline1:hover {
    @apply bg-[#BD6049]
}

.button-outline2 {
    @apply text-coffee-bean-brown transition-all duration-200
}

.button-outline2:hover {
    @apply text-[#BD6049]
}

.gitButtonAnimate span:nth-child(1) {
    position: absolute;
    top: -5px;
    left: 0;
    height: 1px;
    background: white;
}

.gitButtonAnimate:hover span:nth-child(1), .gitButtonAnimate:focus span:nth-child(1) {
    animation: animateButtonSpan1 0.5s linear forwards;
    -webkit-animation: animateButtonSpan1 0.5s linear forwards;
}


@keyframes animateButtonSpan1 {
    0% {
        width: 0;
    }
    100% {
        width: 104%;
    }
}

.gitButtonAnimate span:nth-child(2) {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 1px;
    background: white;
}

.gitButtonAnimate:hover span:nth-child(2), .gitButtonAnimate:focus span:nth-child(2) {
    animation: animateButtonSpan2 0.25s 0.5s linear forwards;
    -webkit-animation: animateButtonSpan2 0.25s 0.5s linear forwards;
}

@keyframes animateButtonSpan2 {
    0% {
        height: 0;
    }
    100% {
        height: 60%;
    }
}


.gitButtonAnimate span:nth-child(3) {
    position: absolute;
    bottom: -5px;
    right: 0;
    /* width: 104%; */
    height: 1px;
    background: white;
}

.gitButtonAnimate:hover span:nth-child(3), .gitButtonAnimate:focus span:nth-child(3) {
    animation: animateButtonSpan1 0.5s linear forwards;
    -webkit-animation: animateButtonSpan1 0.5s linear forwards;
}


.gitButtonAnimate span:nth-child(4) {
    position: absolute;
    left: -5px;
    bottom: -5px;
    /* height: 60%; */
    width: 1px;
    background: white;
}

.gitButtonAnimate:hover span:nth-child(4), .gitButtonAnimate:focus span:nth-child(4) {
    animation: animateButtonSpan2 0.25s 0.5s linear forwards;
    -webkit-animation: animateButtonSpan2 0.25s 0.5s linear forwards;
}

/* dont think i need it  */

/* .li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: gray;
    transition: transform 300ms ease-in-out, color 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out, color 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out, color 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out, color 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out, color 300ms ease-in-out;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform-origin: bottom;
}

.li:hover::before, .li:focus::before {
    color:white;    
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
} */

::-webkit-scrollbar {
    display: none;
}

@media screen and ( min-width: 768px ) {
    .layout-grid {
        grid-template-columns: 11.25vw 1fr 29.97vw;
    }

    .layout-grid2 {
        display: grid;
        grid-template-columns: 11.25vw 88.75vw;
    }

    .grid-template2 {
        display: grid;
        row-gap: 25px;
        grid-template-rows:6.07vw 1fr 10.5vw
    }

    .layout-grid3 {
        display: grid;
        grid-template-columns: 1fr 35.91vw;  
    }

    .layout-grid4 {
        display: grid;
        grid-template-rows: 5fr 0.9fr;
    }

    .grid-template {
        display: grid;
        grid-template-rows: auto 19vw
    }

    .grid-layout5 {
        display: grid;
        @apply grid-cols-1
    }

    .grid-layout6 {
        display: grid;
        grid-template-columns: 1fr;
    }
}